@import url(//db.onlinewebfonts.com/c/67137b5f6928edc941186baaab5a664b?family=Lemon/Milk);
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lemon/Milk', sans-serif;
    font-weight: normal;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1B262C;
    z-index: -2;
}

.grid-container.before {
    padding-top: 300vh;
    padding-right: 119px;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(6, 119px);
    grid-column-gap: 49px;
    grid-template-rows: repeat(10, 78px);
    transition: all 1000ms ease-in-out;
    padding-right: 119px;
    padding-bottom: 78px;
}

.slot-block {
    text-align: center;
    font-size: 15px;
    height: 78px;
    line-height: 78px;
    transition: 200ms ease-in-out;
    /* z-index: 2; */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    display: inline-block;
    word-wrap: break-word;
    -webkit-transform: translateZ(-1);
}

.slot-block>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    -webkit-transform: translateZ(0);
}

.slot-block.active {
    transform: scale(1.2);
    /* z-index: 3; */
}